body
{
background-image:url('universe1.jpg'); 
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-attachment:fixed;

}
h1
{
color:red;
text-align:center;
font-size:70px;
}
p
{
color:white;
text-align:justify;
margin-left:70px;
margin-right:70px;
}
.akshay
{
font-size:30px;
}
.akshay p
{
color:#0039FF;	
}	
.akshay2
{
list-style-type:none;
font-size:30px;

}
.akshay3
{
margin-left:280px;
margin-top:-63px;	
}
.akshay4
{
margin-left:500px;
margin-top:-110px;
}
.akshay3 ,.akshay4 
{
list-style-type:none;
}
li
{
margin-bottom:10px;
}
li a
{
text-decoration:none;
color:white;
color:#22F510;
}